<mat-grid-list cols="2" rowHeight="2em">
  <mat-grid-tile>
    <mat-slide-toggle [formControl]="fsControlForm" color="primary">
      Fullscreen Control
    </mat-slide-toggle> </mat-grid-tile
  ><mat-grid-tile>
    <mat-slide-toggle [formControl]="locControlForm" color="primary">
      Locate Control
    </mat-slide-toggle>
  </mat-grid-tile>
</mat-grid-list>
<div class="container">
  <app-osm-map
    [options]="map1Options"
    (map$)="receiveMap($event, '1')"
    (zoom$)="receiveZoom($event, '1')"
    id="map-1"
  ></app-osm-map>
  <p>
    Map 1 : Zoom level = {{ zoom[1]
    }}<ng-template [ngIf]="locControl"
      >, Location is : {{ location }}</ng-template
    >
  </p>
</div>

<leaflet-fullscreen-control
  *ngIf="fsControl"
  [options]="fullscreenOptions"
  [map]="map[1]"
></leaflet-fullscreen-control>
<leaflet-locate-control
  *ngIf="locControl"
  [options]="locateOptions"
  [map]="map[1]"
  (location$)="onNewLocation($event)"
></leaflet-locate-control>

<!-- <app-custom-control
  [position]="'bottomleft'"
  [map]="map[1]"
></app-custom-control> -->

<leaflet-sidebar-control
  [map]="map[1]"
  [options]="sidebarOptions"
></leaflet-sidebar-control>

<div id="sidebar" class="leaflet-sidebar collapsed">
  <!-- Nav tabs -->
  <div class="leaflet-sidebar-tabs">
    <ul role="tablist">
      <li>
        <a href="#leg" role="tab"
          ><i class="material-icons" data-toggle="tooltip" title="Map Legend"
            >map</i
          ></a
        >
      </li>
    </ul>
    <ul role="tablist">
      <li>
        <a href="#settings" role="tab"
          ><i class="fa fa-gear" data-toggle="tooltip" title="Settings"></i
        ></a>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="leaflet-sidebar-content">
    <div class="leaflet-sidebar-pane" id="leg" style="height:90%;">
      <h1 class="leaflet-sidebar-header">
        <span class="leaflet-sidebar-close"
          ><i class="fa fa-caret-right"></i
        ></span>
        Map Legend
      </h1>
      <ng-template [ngIf]="showLegend">
        <iframe class="h-100" id="legend" [src]="legendUrl"></iframe>
      </ng-template>
    </div>
    <div class="leaflet-sidebar-pane" id="settings">
      <h1 class="leaflet-sidebar-header">
        <span class="leaflet-sidebar-close"
          ><i class="fa fa-caret-right"></i
        ></span>
        Settings
      </h1>
    </div>
  </div>
</div>
